<app-header></app-header>
<main class="list-user-container">
  <div class="nav-add-user">
    <button type="button" class="btn btn-dark">
      <a routerLink="/create-user"> Add new user</a>
    </button>
  </div>
  <div class="user-list-container">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Documentg</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td>{{ user.id_user }}</td>
        <td>{{ user.document }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>
          <a class="actions-link" routerLink="/update-user/{{ user.id_user }}"
            >Edit</a
          >
          |
          <a class="actions-link" routerLink="/delete-user/{{ user.id_user }}"
            >Delete</a
          >
        </td>
      </tr>
    </table>
  </div>
</main>
